{% extends "cats/base.html" %}


{% block title %}
    API CATS
{% endblock title %}
    

{% block content %}
    <h1>Bienvenido a Mi api de Gatos</h1>

    <p>Esta <span>NO</span> es una API para produccion. solo esta creada para
    practicar nuestras habilidades de frontend. Es gratis, solo te pido no golpear
con demasiada solicitudes a la vez</p>

<h2>Endpoints</h2>
<ul>
    <li>
        
    </li>
</ul>
<a href="{% url 'api_random_cat' %}" target="_blank">Get me random cat</a>

{% endblock content %}
    